<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}" />
  </head>
  <body>
      <div class='header'>
        <h1>Blog Town!</h1>
      </div>
      <nav>
        <a class='flex-item nav' href='/blog'>Main Page</a>
        <a class='flex-item nav' href='/newpost'>Add a new post</a>
        <a class='flex-item nav' href='/logout'>log out</a>
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% for category, message in messages %}
            <div class="flex-item nav">{{message}}</div>
          {% endfor %}
        {% endwith %}
    </nav>
    <div class="flex-container"/>
      <div class="flex-item left"></div>
      <div class="flex-item body">
        {% block content %}
        {% endblock %}
      </div>
      <div class="flex-item right"></div>
    </div>

  </body>
</html>