{% extends "base.html" %}

{% block content %}
  {% if blog|length == 0 %}
  <p>No posts yet</p>
  {% else %}
        {% for blogs in blog %}
          {% for users in user %}
            {% if users.id == blogs.owner_id %}
              <h4><a class="title" href='/blog?id={{blogs.id}}'>{{blogs.title}}</a></h4>
              <p class="content">{{blogs.body}}</p>
              <h6>Written by: <a href='blog?user={{users.id}}'>{{users.email}}</a> on: {{blogs.pub_date}}</h6>
              <hr/>
            {% endif %}
          {% endfor %}
        {% endfor %}
  {% endif %}
{% endblock %}
