{% extends "base.html" %}

{% block content %}
<form action="/login" method="POST"/>
  <div class="flex-item login"><h1>Login</h1></div>
  <div class="flex-item login">If you don't have an account you may <a href="/register">register</a></div>
  <div class="flex-item login">
    <label for="email">Username</label>
  </div>
      <div class="flex-item login"><input type="text" name="email" id="email" value="{{email}}"/></div>
  <div class="flex-item login">
    <label for="password">Password</label>
  </div>
      <div class="flex-item login"><input type="password" name="password" id="password" value="{{password}}"/></div>
  <div class="flex-item login">
    <input id="submit" value="login" type="submit"/>
  </div>
</form>
{% endblock %}