{% extends "base.html" %}

{% block content %}
<form action="/register" method="POST"/>
    <div class="flex-item login"><h1 id="heading"><strong>Registration</strong></h1></div>
    <div class="flex-item login"><label for="email">Username</label></div>
    <div class="flex-item login"><input type="text" name="email" id="email" value="{{email}}"/></div>
    <div class="flex-item login"><label for="password">Password</label></div>
    <div class="flex-item login"><input type="password" name="password" id="password" value="{{password}}"/></div>
    <div class="flex-item login"><label for="verify">Verify password</label></div>
    <div class="flex-item login"><input type="password" name="verify" id="verify" value="{{verify}}"/></div>
    <div class="flex-item login"><input id="submit" value="register" type="submit"/></div>
</form>
{% endblock %}